<ng-container class="relative flex pb-4 gap-4 w-full flex-wrap flex-1" *ngFor="let story of stories; let i = index">

  <div class="bg-[#66048c91] text-white rounded-lg cursor-pointer p-2 ">
    <div [routerLink]="[story.id]" class="flex w-60 h-24" >
      <img class="w-20 h-20 rounded-lg m-1" src="/ElephantStory.jpg" alt="">
    <div>
      <h5><strong>{{story.title}}</strong></h5>
    </div>
    </div>
    <button class="mt-2" (click)="deleteStory(i)"><fa-icon class="mr-1" [icon]="deleteLogo"></fa-icon> Delete</button>
  </div>
</ng-container>

<ng-container *ngIf="stories.length === 0">
  <p>No stories yet!</p>
</ng-container>