<div class="flex mt-2 gap-2" >
 <div class="" *ngFor="let story of stories; let i = index">
    <div [routerLink]="[story.id]" class="bg-[#2F0241] text-white rounded-lg cursor-pointer p-2 min-w-60 min-h-20 flex">
      <img class="w-14 h-14 rounded-lg m-1" src="/ElephantStory.jpg" alt="">
      <div>
        <h5><strong>{{story.title}}</strong></h5>
        <button class="mt-2" (click)="deleteStory(i)"><fa-icon class="mr-1" [icon]="deleteLogo"></fa-icon> Delete</button>
        </div>
    </div>
  </div>

  <div *ngIf="stories.length === 0">
    <p>No stories yet!</p>
  </div>
</div>