<nav class="navigation row">
  <div class="project-name title-text">Mina's Logbook</div>
</nav>
<div class="main-display">
  <div class="info-div">
    <div class="background-flower-img">
      <img src="/yoneda.jpg" alt="Yoneda Image" class="background-flower-img" />
    </div>
    <div class="layer see-through-glass-effect">
      <div class="layer glare-container"></div>
    </div>
    <div class="layer overlay-text">
      <div>
        <h1 class="title-text">NEVER FORGET ANYTHING AGAIN</h1>
        <p class="title-text">
          Keep track of all your matchboxes, library books, and scheduled
          deliveries.
        </p>
      </div>
    </div>
  </div>

  <div class="info-div useful-features">
    <div class="text">
      <div class="heading">
        <h4>USEFUL FEATURES</h4>
      </div>
      <div class="features">
        <div class="row">
          <div class="cataloging column col-sm">
            <h6>CATALOGING</h6>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="micLogo"></fa-icon>Speech-to-text descriptions</p>
            </div>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="bookmarkLogo"></fa-icon>Save items for later</p>
            </div>
          </div>
          <div class="pick-ups column col-sm">
            <h6>PICK UPS</h6>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="progress"></fa-icon>Track book progress</p>
            </div>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="location"></fa-icon>Integrated Map</p>
            </div>
          </div>
          <div class="scheduled-deliveries column col-sm">
            <h6>SCHEDULED DELIVERIES</h6>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="car"></fa-icon>Follow delivery-route</p>
            </div>
            <div class="">
              <p class="feature-text"><fa-icon [icon]="chartLine"></fa-icon>Spending analytics</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div>
      <h4>select a character to explore</h4>
    </div>
    <div class="carousel">
      <div class="row">
        <div class="character tomoko col-sm">
          <img src="/tomoko.jpg" alt="Tomoko Img" class="character-img" />
          <h3>TOMOKO</h3>
        </div>
        <div class="character mina col-sm">
          <img src="/mina.jpg" alt="Mina Img" class="character-img" />
          <h3>MINA</h3>
        </div>
        <div class="character yoneda col-sm">
          <img src="/yoneda.jpg" alt="Yoneda Img" class="character-img" />
          <h3>YONEDA</h3>
        </div>
      </div>
    </div>
  </div>
</div>
