.main-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  border: #024023 3px;
}

nav {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-family: "Josefin Sans";
  font-size: 30px;
  padding: 0.1em 0.5em;
  color: #ecedef;
}

.project-name {
  font-family: "Jockey One" !important;
}

.info-div {
  width: 900px;
  height: 120px;
  border-radius: 2em;
}

.layer {
  position: absolute;
}

.background-flower-img {
  height: 100px;
  width: 400px;
  object-fit: cover;
  position: absolute;
  left: 300px;
  top: 30px;
  border-radius: 150px 150px 0 0;
}

.see-through-glass-effect {
  width: 900px;
  height: 140px;
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.glare-container {
  width: 600px;
  height: 100%;
  border-radius: 10% 50% 50% 10%;
  background: radial-gradient(
    farthest-corner at 10px 40px,
    #a5efff 0%,
    #6ebff439 60%,
    #4672d400 100%
  );
  filter: blur(10px);
  opacity: 0.4;
  position: absolute;
  z-index: 2;
  left: 5px;
}

.title-text {
  color: #024023;
  font-family: "Instrument Sans";
}

.overlay-text {
  padding: 1.5rem;
  position: absolute;
  z-index: 3;
}

.useful-features {
  height: 180px;
  background-color: #d9d7d7;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
}

.feature-text {
  display: flex;
  gap: 5px;
}

.text {
  padding: 1.5rem;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mina {
  color: #791419;
}

.tomoko {
  color: #0b1076;
}

.yoneda {
  color: #892b81;
}

.character-img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.character-img:hover {
  height: 150px;
  width: 150px;
  transition: ease-in 0.1s;
}

.mina .character-img {
  -webkit-box-shadow: 0.5px 0.5px 21.5px -4.5px #ba484e;
  -moz-box-shadow: 0.5px 0.5px 21.5px -4.5px #ba484e;
  box-shadow: 0.5px 0.5px 21.5px -4.5px #ba484e;
}

.mina .character-img:hover {
  -webkit-box-shadow: 0.5px 0.5px 22.5px 6.5px #ba484e;
  -moz-box-shadow: 0.5px 0.5px 22.5px 6.5px #ba484e;
  box-shadow: 0.5px 0.5px 22.5px 6.5px #ba484e;
}

.yoneda .character-img {
  -webkit-box-shadow: 0.5px 0.5px 21.5px -4.5px #892b81;
  -moz-box-shadow: 0.5px 0.5px 21.5px -4.5px #892b81;
  box-shadow: 0.5px 0.5px 21.5px -4.5px #892b81;
}

.yoneda .character-img:hover {
  -webkit-box-shadow: 0.5px 0.5px 22.5px 6.5px #892b81;
  -moz-box-shadow: 0.5px 0.5px 22.5px 6.5px #892b81;
  box-shadow: 0.5px 0.5px 22.5px 6.5px #892b81;
}

.tomoko .character-img {
  -webkit-box-shadow: 0.5px 0.5px 21.5px -4.5px #4a648a;
  -moz-box-shadow: 0.5px 0.5px 21.5px -4.5px #4a648a;
  box-shadow: 0.5px 0.5px 21.5px -4.5px #4a648a;
}

.tomoko .character-img:hover {
  -webkit-box-shadow: 0.5px 0.5px 22.5px 6.5px #4a648a;
  -moz-box-shadow: 0.5px 0.5px 22.5px 6.5px #4a648a;
  box-shadow: 0.5px 0.5px 22.5px 6.5px #4a648a;
}
