
.character-bg-img {
  border-radius: 1em;
}

.see-through-glass-effect {
  width: 1030px;
  height: 100%;
  /* From https://css.glass */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(13.6px);
  border-radius: 1em;
  position: absolute;
  z-index: 1;
}

.overlay-text {
  font-family: "Instrument Sans";
}

.feature-btn {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .25);
}


