<p>base-character works!</p>
<div class="character-img-container">
  <div>
    <div class="layer see-through-glass-effect"></div>
    <div class="layer overlay-text">
      <!-- <h2>CREATE NEW RECORDS OR GO DOWN MEMORY-LANE WITH YOUR FAVOURITES</h2> -->
      <div class="column">
        <button class="feature-btn">New record</button>
        <button class="feature-btn">Favourites</button>
      </div>
    </div>
    <img [src]="'/' + characterID + '.jpg'" alt="" class="character-bg-img" />
  </div>
</div>
