nav {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-family: "Josefin Sans";
  font-size: 30px;
  padding: 0.1em 0.5em;
  color: #ecedef;
}
.project-name {
  font-family: "Jockey One" !important;
}

.title-text {
  color: #024023;
  font-family: "Instrument Sans";
}


