/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%; /* Ensure the body takes up the full width */
  max-width: 100%; /* Prevent the body from exceeding the viewport width */
}

.landing-page-bg-color {
  background-color: #8b9671;
}

.mina-bg-color {
  background-color: #66048c91;
}

.tomoko-bg-color {
  background-color: #787f97;
}

.yoneda-bg-color{
  background-color: #EFB9E8;
}
